.oana2 {
  width: 100%;
  bottom: 0px;
  display: flex;
  padding: 20px;
  overflow: auto;
  position: relative;
  max-width: 1000px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.container {
  width: 206px;
  display: flex;
  margin-bottom: 10px;
  justify-content: space-between;
}
.link {
  display: contents;
}
.link svg {
  transition: 0.4s ease-in-out;
}
.link:hover svg {
  fill: rgb(255, 191, 90);
}

.container6 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.text1 {
  padding: 0 5px;
  line-height: 1;
}
